#!/bin/bash
echo "Atualizando pacotes..."
sudo apt update -y
sudo apt upgrade -y

echo "Instalando dependências..."
sudo apt install -y ca-certificates curl gnupg lsb-release

echo "Configurando chave GPG do Docker..."
sudo install -m 0755 -d /etc/apt/keyrings

curl -fsSL https://download.docker.com/linux/ubuntu/gpg | \
sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg

sudo chmod a+r /etc/apt/keyrings/docker.gpg

echo "Adicionando repositório Docker..."
echo \
"deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] \
https://download.docker.com/linux/ubuntu \
$(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

echo "Atualizando repositórios..."
sudo apt update -y

echo "Instalando Docker..."
sudo apt install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

echo "Habilitando e iniciando Docker..."
sudo systemctl enable docker
sudo systemctl start docker

echo "Configurando permissões do Docker..."
sudo groupadd docker 2>/dev/null || true
sudo usermod -aG docker ubuntu

echo "Baixando imagem do Backend do Docker Hub (com até 5 tentativas)..."
for i in {1..5}; do
    sudo docker pull fsfernando072/familia-connect-back:latest && break || {
        echo "Falha temporária no pull, tentativa $i de 5. Aguardando 10 segundos..."
        sleep 10
    }
done

echo "Subindo container Backend..."
sudo docker run -d \
  --name familia-connect-back \
  --restart always \
  -p 8080:8080 \
  -e DB_URL="${db_url}" \
  -e DB_USERNAME="${db_username}" \
  -e DB_PASSWORD="${db_password}" \
  -e DB_TYPE_DDL="${db_type_ddl}" \
  -e JWT_SECRET="${jwt_secret}" \
  -e URL_OCR_SERVICE="${url_ocr_service}" \
  -e APP_STORAGE_TYPE="${app_storage_type}" \
  -e APP_STORAGE_S3_BUCKET="${app_storage_s3_bucket}" \
  -e APP_STORAGE_S3_REGION="${app_storage_s3_region}" \
  fsfernando072/familia-connect-back:latest