version: "3.9"

services:
  front:
    image: fsfernando072/familia-connect-front:latest
    environment:
      API_BASE_URL: "/api"
      BACKEND_URL: "http://back:8080"
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    networks:
      - fc-overlay
    deploy:
      endpoint_mode: vip
      replicas: 2
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.role == manager
        max_replicas_per_node: 1

  back:
    image: fsfernando072/familia-connect-back:latest
    environment:
      DB_URL: "jdbc:mysql://10.0.7.10:3306/${db_name}"
      DB_USERNAME: "${db_username}"
      DB_PASSWORD: "${db_password}"
      DB_TYPE_DDL: "${db_type_ddl}"
      JWT_SECRET: "${jwt_secret}"
      URL_OCR_SERVICE: "http://ocr:8000"
      APP_STORAGE_TYPE: "${app_storage_type}"
      APP_STORAGE_S3_BUCKET: "${app_storage_s3_bucket}"
      APP_STORAGE_S3_REGION: "${app_storage_s3_region}"
      CORS_ALLOWED_ORIGINS: "http://__FRONT_ALB_DNS__"
      SPRING_RABBITMQ_HOST: "rabbitmq"
      SPRING_RABBITMQ_PORT: "5672"
      SPRING_RABBITMQ_USERNAME: "${rabbitmq_username}"
      SPRING_RABBITMQ_PASSWORD: "${rabbitmq_password}"
    networks:
      - fc-overlay
    deploy:
      endpoint_mode: vip
      replicas: 2
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.fc_role == back
        max_replicas_per_node: 1

  rabbitmq:
    image: rabbitmq:4-management
    hostname: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: "${rabbitmq_username}"
      RABBITMQ_DEFAULT_PASS: "${rabbitmq_password}"
    ports:
      - target: 5672
        published: 5672
        protocol: tcp
        mode: host
      - target: 15672
        published: 15672
        protocol: tcp
        mode: host
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - fc-overlay
    deploy:
      endpoint_mode: vip
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.fc_role == back
          - node.hostname == fc-back-a

  ocr:
    image: fsfernando072/familia-connect-ocr:latest
    environment:
      OCR_SPACE_API_KEY: "${ocr_space_api_key}"
    networks:
      - fc-overlay
    deploy:
      endpoint_mode: vip
      replicas: 2
      update_config:
        parallelism: 1
        order: start-first
      restart_policy:
        condition: on-failure
      placement:
        constraints:
          - node.labels.fc_role == ocr
        max_replicas_per_node: 1

volumes:
  rabbitmq_data:

networks:
  fc-overlay:
    driver: overlay
